**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/node_modules
**/*.user
**/*.suo
**/*.csproj.user
**/*.vspscc
**/*.vssscc
**/Thumbs.db
**/.DS_Store
**/TestResults
**/*.log
**/Dockerfile*
**/.dockerignore
**/docker-compose*
**/*.md
!README.md
